<div class="well" style="width: 50px">
    <section>
        <form>
          <input type="text" placeholder="contact title" name="title" />
          <input type="text" placeholder="contact firstName" name="firstName" />
          <input type="text" placeholder="contact lastName" name="lastName" />
          <input type="number" placeholder="contact phone" name="phone" />
          <button id="submit-new-contact">add new contact</button>
          <button id="submit-edited-contact">save contact</button>
        </form>
    </section>
        
  
  </div>